<html class="no-js ">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
     Other complaints
  </title>
  <link rel="shortcut icon" href="https://d1a3f4spazzrp4.cloudfront.net/free-candy/images/favicon.3eb352c8f26c2652495fa86bd0e29063.ico" />


 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/new.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
	<head>
		<title>Solutions</title>
		<style>
body {
			margin:0; 
			padding:0; 
			text-align:center; /* center div in IE */
			for ie div centering, reset in wrapper  
		}
#wrapper {
			width:600px; 
			margin:0 auto; 
			border-radius:0 0 5px 5px;
			-moz-border-radius:0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
			background:#fff; 
			border:1px solid #ccc; 
			padding:25px; 
			border-top:none; 
			box-shadow:0 0 5px #ccc;
			-moz-box-shadow:0 0 5px #ccc;
			-webkit-box-shadow:0 0 5px #ccc;
			text-align:left;
		}
#lightbox {
			position:fixed; /* keeps the lightbox window in the current viewport */
			top:0; 
			left:0; 
			width:100%; 
			height:100%; 
			background:url(overlay.png) repeat; 
			text-align:center;
		}
#agentp {
			
			color:black; 
			margin-right:20px; 
			font-size:4vh; 
		}
#lightbox img {
			box-shadow:0 0 25px #111;
			-webkit-box-shadow:0 0 25px #111;
			-moz-box-shadow:0 0 25px #111;
			max-width:940px;
		}
                
 #audio{
            width:600px; 
			margin:0 auto; 
			border-radius:0 0 5px 5px;
			-moz-border-radius:0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
			background:#00FF00; 
			border:1px solid #ccc; 
			padding:25px; 
			border-top:none; 
			box-shadow:0 0 5px #ccc;
			-moz-box-shadow:0 0 5px #ccc;
			-webkit-box-shadow:0 0 5px #ccc;
			text-align:left;
}
             #agent{
             margin-left:50px;
             font-size:4vh;
      }  
                      #rating{
             margin-left:100px;
             font-size:4vh;
      }  

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}
ul li {

    background-image: url(sqpurple.gif);
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 15px;
    text-align:center;
    margin-top: 35px;

}  

.row1{
    background-color: #19A3FF;
    font-size: 20px;
    color: black;
    width: 80vw;
    height: auto;
    margin-left: 100px;
    margin-top: 60px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    -webkit-animation:lightup 3s alternate infinite;
    -webkit-animation-play-state:running;
	-webkit-animation-delay:0.6s;
	-moz-animation:lightup 3s alternate infinite;
	-moz-animation-play-state:running;
	-moz-animation-delay:0.3s;
}  

.row1:hover{
        -webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}
#text{
    font-size:3vh;
}
		</style>
	</head>
<body>
<header class="contextual"><div class="logo"></div></header>
<div class="row1">

		<ul>
			<li>
             <p id="agentp"> Here is what to do. Call (415)8014068 or email support@uber.com with your username and reference number for an agent to activate your account.</p>
			</li>	
		</ul>
   <p id="agent">Agent:Lindani Pani</p>
 <p id="rating">
      Rate Agent:
      <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    </p>
     <video width="350" height="180" controls>
         <source src="Agentp.mp4" type="video/mp4">
         <source src="Agentp.ogg" type="video/ogg">
          Your browser does not support the video tag.
     </video>

  	<p>Text to speech <audio id="myAudio"
 <source src="character_ft_oskido_mono_t_inxeba_lendoda_mp3_34038.mp3"
         type='audio/mp3'>
 <source src="character_ft_oskido_mono_t_inxeba_lendoda_mp3_34038.oga"
         type='audio/ogg; codecs=vorbis'>
 Your user agent does not support the HTML5 Audio element.
</audio><br>
<button id="text" type="button" onclick='responsiveVoice.speak("Here is what to do. Call (415)8014068 or email support@uber.com with your username and reference number for an agent to activate your account.");'>Speak</button>
</p>
<br>
<br>
<a href="/back"><button type="button" class="btn btn-primary" align="center" id="text">BACK</button></a>
</div> <!-- #/wrapper -->
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script>
jQuery(document).ready(function($) {
	
	$('.lightbox_trigger').click(function(e) {
		
		//prevent default action (hyperlink)
		e.preventDefault();
		
		//Get clicked link href
		var image_href = $(this).attr("href");
		
		/* 	
		If the lightbox window HTML already exists in document, 
		change the img src to to match the href of whatever link was clicked
		
		If the lightbox window HTML doesn't exists, create it and insert it.
		(This will only happen the first time around)
		*/
		
		if ($('#lightbox').length > 0) { // #lightbox exists
			
			//place href as img src value
			$('#content').html('<img src="' + image_href + '" />');
		   	
			//show lightbox window - you could use .show('fast') for a transition
			$('#lightbox').show();
		}
		
		else { //#lightbox does not exist - create and insert (runs 1st time only)
			
			//create HTML markup for lightbox window
			var lightbox = 
			'<div id="lightbox">' +
				'<p>Click to close</p>' +
				'<div id="content">' + //insert clicked link's href into img src
					'<img src="' + image_href +'" />' +
				'</div>' +	
			'</div>';
				
			//insert lightbox HTML into page
			$('body').append(lightbox);
		}
		
	});
	
	//Click anywhere on the page to get rid of lightbox window
	$('#lightbox').live('click', function() { //must use live, as the lightbox element is inserted into the DOM
		$('#lightbox').hide();
	});

});
</script>
<script>
function responsiveVoice.speak() {
  var myAudio = document.getElementById("myAudio");
  if (myAudio.paused) {
    myAudio.play();
  } else {
    myAudio.pause();
  }
}

function setHalfVolume() { 
    myAudio.volume = 0.2;
} 
  
function setFullVolume() { 
    myAudio.volume = 1.0;
} 
</script>
<script src='http://code.responsivevoice.org/responsivevoice.js'></script>
</body>
</html>
